
<h2 mat-dialog-title>
  Wybierz zdjęcia
  <button mat-icon-button color="primary" mat-dialog-close aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<table  mat-table  [dataSource]="dataSource">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef="let image">
      <mat-checkbox (change)="$event ? masterToggle() : null" >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let image">
      <mat-checkbox (change)="$event ? toggleCheckbox(image) : null" [checked]="isSelected(image)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Zdjęcie </th>
    <td mat-cell *matCellDef="let element">
      <img src="{{'/api/v1/admin/data/productImage/' + element.name}}"  width="100" height="100">
    </td>
    
  </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef> Nazwa </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="desc" >
      <th mat-header-cell *matHeaderCellDef> Opis </th>
      <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
    </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="destination" >
            <th mat-header-cell *matHeaderCellDef> Kraj </th>
            <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
          </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-raised-button color="primary" (click)="onAddClick()">Dodaj</button>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
[pageSize]="25"
showFirstLastButtons
[length]="totalElements">
</mat-paginator>

