<header class="header" [fxLayout]="'row'" [fxLayoutAlign]="'start start'">

    <div [fxFlex]="'1 1 auto'">
      <mat-toolbar class="sidebar">Panel</mat-toolbar>
    </div>

    <div [fxFlex]="'1 1 auto'" >
      <mat-toolbar class="sidebar" fxLayoutGap="10">
        <button mat-flat-button color="accent" routerLink="/admin">Admin</button>
        <button mat-flat-button color="accent" routerLink="/admin/products">Produkty</button>
        <button mat-flat-button color="accent" routerLink="/admin/images">Zdjęcia</button>
        <button mat-flat-button color="accent" routerLink="/admin/orders">Zamówienia</button>
        <button mat-flat-button color="accent" routerLink="/admin/home">Strona główna</button>
      </mat-toolbar>
    </div>
</header>


    <div  class="sidebar"  fxLayout="row" fxFlex>
        <mat-selection-list [multiple]="false" fxFlex="10">
            <mat-list-option  *ngFor="let category of categories">
                <span class="contact-names"> {{category}}</span>
            </mat-list-option>
        </mat-selection-list>
    
    <div class="content" fxFlex>
        <app-admin-messages></app-admin-messages>
        <router-outlet></router-outlet>
    </div>

</div>