:host
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

.content
{
    padding: 20px;
}

header
{
    background: #ddd;
    padding: 20px;
}

.sidebar
{
    background: #ddd;
    padding: 20px;
}