.mat-column-actions {
    width: 10%;
  }
  .mat-table {
    width: 100%;
  }
  
  .mat-column-data {
    width: 20%;
  }
  
  .mat-column-name {
    width: 20%;
  }
  
  .mat-column-desc {
    width: 40%;
  }
  
  .mat-column-destination {
    width: 20%;
  }