<div>
    <h1> Profil użytkownika   <button mat-icon-button [routerLink]="['/profile/update']">
        <mat-icon color="primary">edit</mat-icon>
    </button></h1>  
    
    <h2> Dane podstawowe   </h2>
      

    <p> Imię i nazwisko: {{details.firstname}} <span></span> {{details.lastname}} </p>
    <p> Email: {{details.email}} </p>


  <h2> Dane konieczne do rezerwacji wyjazdu </h2>
      

  <p> Telefon: {{details.phone}} </p>
  <p> PESEL: {{details.pesel}} </p>
  <p> Płeć: {{ details.gender}} </p>
  <p> Ulica: {{details.street}} </p>
  <p> Kod pocztowy: {{details.postal}} </p>
  <p> Miejscowość: {{details.city}} </p>
</div>

<h3>Rezerwacje</h3>
<table mat-table [dataSource]="orders">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa produktu </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
    <ng-container matColumnDef="placeDate">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.placeDate}} </td>
    </ng-container>
    <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
    </ng-container>
    <ng-container matColumnDef="grossValue">
        <th mat-header-cell *matHeaderCellDef> Wartość </th>
        <td mat-cell *matCellDef="let element"> {{element.grossValue}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/orders/update/', element.id]">
                <mat-icon color="primary">edit</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>