

<h1>Produkty</h1>


<mat-card *ngFor="let product of page?.content">


    <ng-image-slider style="width: 100%; height: 100%; text-align:center;margin:0; padding:0;" #nav 
      [images]="product.images"
      [infinite]="false"
      [autoSlide]="1"
      [imageSize]="{width: '100%', height: 200,space: 0}"
      [imagePopup]="false"
      slideImage="5">
    </ng-image-slider>


    <div class="card-content">
        <a routerLink="{{'/products/' + product.slug}}">
      <mat-card-content>
        <mat-list>
          <mat-list-item>{{product.name}}</mat-list-item>
          <mat-list-item>{{product.desc}}</mat-list-item>
          <mat-list-item fxLayoutAlign="end">{{product.basePrice}} {{product.currency}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    
    </a>

</div>
  </mat-card>





<mat-paginator 
    *ngIf="page && page.totalElements > 0" 
    [length]="page.totalElements" 
    [pageSize]="10" 
    [pageSizeOptions]="[10, 25, 50]" 
    aria-label="Select page"
    (page)="onPageEvent($event)"
    >
</mat-paginator>
