:host{
    display: flex;
    flex-direction: column;
}

mat-card {
    margin-bottom: 40px;

  }


  .ng-image-slider-wrapper {
    border-radius: 0 0 10px 10px;
}

.productSalePrice{
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px; 
  color: green;
}
.productPriceDisable{
  color: lightgray;
  text-decoration: line-through;
  font-size: 22px;
}

