

<h1>Produkty</h1>
<mat-card  *ngFor="let product of page?.content">
 <div fxLayout="row">
    <div fxFlex="30">
        <mat-card-title> <a routerLink="{{'/products/' + product.slug}}"> {{product.name}}</a></mat-card-title>
        <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
        <a routerLink="{{'/products/' + product.slug}}">
        <img src="assets/image-placeholder.png" mat-card-sm-image>
        </a>
    </div>
    <div fxFlex>
        <mat-card-content>{{product.desc}}</mat-card-content>
    </div>
    <div fxLayoutAlign="start center">
        {{product.basePrice}} {{product.currency}}
    </div>
 </div>
    <mat-card-actions fxLayoutAlign="end">
        <button mat-button routerLink="{{'/products/' + product.slug}}">Pokaż</button>
        <button mat-button>Do ulubionych</button>
    </mat-card-actions>
</mat-card>
<mat-paginator 
    *ngIf="page && page.totalElements > 0" 
    [length]="page.totalElements" 
    [pageSize]="10" 
    [pageSizeOptions]="[10, 25, 50]" 
    aria-label="Select page"
    (page)="onPageEvent($event)"
    >
</mat-paginator>
