<div *ngIf="orderSummary" class="orderSummary">
    <div>Nowe zamówienie o numerze: {{orderSummary.id}}</div>
    <div>Data złożenia: {{orderSummary.placeDate | date: 'yyyy-MM-dd HH:mm'}}</div>
    <div>Status: {{getStatus(orderSummary.status)}}</div>
    <div>Wartość: {{orderSummary.grossValue}} PLN</div>
    <div *ngIf="orderSummary.payment.note">
        Płatność: <br>
        <span class="paymentNote" [innerHTML]="orderSummary.payment.note | replace: '\n': '\<br>'"></span>
    </div>
    <div *ngIf="isLoggedIn">Status zamówienia można śledzić na stronie swojego <a routerLink="/profile">profilu</a></div>
</div>

<div *ngIf="product && !orderSummary">
    <h2>Rezerwujesz</h2>
    <div>Nazwa: {{product.name}}</div>
    <div>slug: {{product.slug}}</div>
    <div *ngIf="product.basePrice && !product.salePrice">cena: {{product.basePrice}}</div>
    <div *ngIf="product.salePrice">cena: {{product.salePrice}}</div>
</div>
<br>

<div>
    <h2>Twoje dane</h2>
    <div>Imie: {{userDetails.firstname}}</div>
    <div>Nazwisko: {{userDetails.lastname}}</div>
    <div>Email: {{userDetails.email}}</div>
    <div>Telefon: {{userDetails.phone}}</div>
    <div>Pesel: {{userDetails.pesel}}</div>
    <div>Płeć: {{userDetails.gender}}</div>
    <div>Ulica: {{userDetails.street}}</div>
    <div>Kod pocztowy: {{userDetails.postal}}</div>
    <div>Miejscowość: {{userDetails.city}}</div>
</div>
<br>
<form *ngIf="!orderSummary" [formGroup]="formGrup" (submit)="submit()" fxLayout="column">



        <mat-form-field appearance="fill">
            <mat-label>Rodzaj transportu</mat-label>
            <mat-select [(value)]="initData.transports[0].name" formControlName="transport">
                <mat-option *ngFor="let transport of initData.transports" [value]="transport">{{transport.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <h3>Nie jedziesz sam? Dodaj uczestników z którymi chcesz mieszkać</h3>


    <div class="loginInfo" *ngIf="!isLoggedIn"><a routerLink="/login">Zaloguj się</a>, aby śledzić zamówienia</div>

    <div>
        <h2>Płatność</h2>
        <mat-radio-group fxLayout="column" formControlName="payment">
            <mat-radio-button class="paymentRadioButton" *ngFor="let payment of initData?.payments" [value]="payment" [checked]="payment.defaultPayment">
            {{payment.name}}

            </mat-radio-button>

        </mat-radio-group>
    </div>
    <div>
    </div>
    <div fxLayoutAlign="end start">
        <button mat-flat-button color="accent" class="orderButton">Rezerwuje</button>
    </div>
</form>