:host{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.productSalePrice{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px; 
    color: green;
}
.productPriceDisable{
    color: lightgray;
    text-decoration: line-through;
    font-size: 22px;
}